{% extends 'admin_panel/base.html' %}
{% block title %}{% if form.instance.pk %}Edit{% else %}Add{% endif %} project{% endblock %}
{% block content %}
{% url 'admin_panel:project_list' as list_url %}
{% if form.instance.pk %}
    {% url 'admin_panel:project_media' form.instance.pk as media_url %}
    {% include 'admin_panel/partials/_form_page.html' with noun="project" extra_url=media_url extra_label="Screenshots & media" %}
{% else %}
    {% include 'admin_panel/partials/_form_page.html' with noun="project" %}
{% endif %}
{% endblock %}
